.toast-plugin{
    min-height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px 15px 24px 18px #000;
    text-align: center;
    font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    opacity: 0.95;
    padding: 0 20px 0 40px;
    z-index: 1000;
    width: 100%;
    box-sizing:border-box;
}

.toast-plugin.warning{
    color: #fff;
    background: #db0026 url(../images/warning.png) no-repeat 12px center;
}

.toast-plugin.success{
    color: #fff;
    background: #4CAF50 url(../images/success.png) no-repeat 12px center;
}

.toast-plugin p{
    line-height: 18px;
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
    height: 60px;
}
